#battle-view-root
{
    .health-bar
    {
        --fill: var(--health-color);
        --background: var(--shield-color);
    }

    .health-label
    {
        color: var(--health-color);
    }

    .shield-label
    {
        color: var(--shield-color);
    }

    .arousal-bar
    {
        --fill: var(--arousal-color);
        --background: var(--sensitivity-color);
    }

    .arousal-label
    {
        color: var(--arousal-color);
    }

    .sensitivy-label
    {
        color: var(--sensitivity-color);
    }

    .energy-bar
    {
        --fill: var(--energy-color);
    }

    .energy-label
    {
        color: var(--energy-color);
    }
}