:root
{
    --health-color: #cb344bff;
    --shield-color: #d7834dff;
    --arousal-color: #ff5ca8ff;
    --sensitivity-color: #a75da5ff;
    --energy-color: #5ebea5ff;
    --cooldown-color: #5a66b7ff;
    --action-color: #ffd64fff;
}