#center
{
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--article-background-color);

    > *
    {
        width: 100%;

        &:last-child
        {
            flex-grow: 1;
        }
    }
}