#right
{
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-template-columns: 1fr;
    grid-template-areas: "." "world-view";
    width: max-content;
    min-width: 12em;
    max-width: 20em;
    background: var(--dark-background-color);

    > world-view
    {
        grid-area: world-view;
    }
}