#top
{
    background: var(--background-color);

    > #nav
    {
        width: 100%;
        min-height: 3em;

        #story-title
        {
            align-self: center;
            width: 100%;
            color: var(--foreground-color);
            text-align: center;
        }
    }
}