.tree
{
    tree-node
    {
        > h3
        {
            padding: 0.25em;
            border-radius: 0.25em;
            background: transparent;
            cursor: pointer;
            user-select: none;

            &:hover
            {
                background: var(--accent-color);
            }
        }

        &.selected
        {
            > h3
            {
                background: var(--accent-color);
            }
        }
    }
}