#body-info
{
    display: flex;
    grid-area: content;
    flex-flow: row;

    > .display
    {
        width: 20em;
        min-width: 8em;
        max-width: 80%;
    }

    > .data
    {
        flex-grow: 1;
    }
}