article
{
    ul, ol
    {
        padding-left: 2em;
    }

    mark
    {
        padding: 0 0.125em;
        border-radius: 0.125em;
        background: var(--accent-color);
        color: var(--foreground-color);
    }
}